@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);

@mixin flex () {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}
img {
    display: block;
    max-width: 100%;
}
body {
    font-size: 16px;
    padding: 2rem;
    background-color: $Violet;
    font-family: 'Poppins';
    color: #fff;
    text-align: center;
    min-height: 100vh;
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;

    @include flex();
}
a {
    text-decoration: inherit;
    color: inherit;
}
header {
    padding-bottom: 0.8rem;
    img {
        width: 9rem;
    }
}
main {
    @include flex();
    margin-bottom: 2rem;
    h1, p, a {
        margin-bottom: 1.5rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    p {
        font-family: 'Open Sans' sans-serif;
        font-size: 1rem;
        opacity: 0.9;
        line-height: 1.6rem;
    }
    a {
        padding: 0.3rem 3.2rem;
        font-size: 0.99rem;
        color: $Violet;
        border: 1px solid $Violet;
        border-radius: 1.5rem;
        background-color: #fff;
        box-shadow: 0 0 5px $Violet;
    }
}
.social-links {
    a {
        border: 1px dotted white;
        padding: 6px;
        border-radius: 50%;
        font-size: 14px;
        margin-right: 5px;
        transition: all 0.2s ease-in;
        &:hover {
            color: $Soft-Magenta;
            border-color: $Soft-Magenta;
        }
    }
}

@media (min-width: 414px) {
    body {
        text-align: start;
        background-image: url('./images/bg-desktop.svg');
        padding-inline: 3rem;
        padding-bottom: 0.35rem;
        gap: 2.5rem;
    }
    header {
        padding-bottom: 1.8rem;
    }
    main {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        column-gap: 6rem;

        .primary-image {
            flex-basis: 80%;
        }
        .texts {
            padding-top: 2.5rem;
            flex-basis: 70%;
            // max-width: 50%;
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    .social-links {
        text-align: end;
    }
}